[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
sqlalchemy = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.8"
